<div class="wrapper">
    <div class="main align-items-center" style="margin-top: 30px;" >
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="['/home']" >Beta 2.1 is available for testing. ➡️️</a>
                    </li>
                </ul>
        <div class="container align-items-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 ml-auto mr-auto">
                    <div>
                        <h1 class="display-4 text-center text-primary">RUNEStake.Info (Beta 2.0)</h1>

                        <div class="align-items-center" style="text-align: center; padding-bottom: 10px; margin-top: -20px" >
              <span>
                <span style="padding: 5px 20px 5px 20px;" class="badge {{isChaosnet ? 'badge-info' : 'badge-darker'}}" (click)="chaosNetClick(true)">ChaosNet</span>
                <span style="padding: 5px 20px 5px 20px;" class="badge {{!isChaosnet ? 'badge-info' : 'badge-darker'}}" (click)="chaosNetClick(false)">TestNet</span>
              </span>

                        </div>
                        <div class="input-group">
                            <input type="text" (keyup)="onKey($event)" [value]="address" (input)="address = $event.target.value"   class="form-control" placeholder="Address">
                            <div class="input-group-append" (click)="search()">
                                <span class="input-group-text"><i class="tim-icons icon-zoom-split"></i></span>
                            </div>
                        </div>
                        <div *ngIf="displayData.length > 0" class="align-items-center" style="text-align: right; margin-bottom: -15px; margin-top: 10px" >
                          <span>
                              <span style="color: grey">Convert to: </span>
                            <span  class="badge {{baseTicker ==='BUSD' ? 'badge-white' : 'badge-darker'}}" (click)="changeConvert('BUSD')">BUSD</span>
                            <span class="badge {{baseTicker ==='RUNE' ? 'badge-white' : 'badge-darker'}}" (click)="changeConvert('RUNE')">RUNE</span>
                              <span class="badge {{baseTicker ==='ASSET' ? 'badge-white' : 'badge-darker'}}" (click)="changeConvert('ASSET')">ASSET</span>
                          </span>

                        </div>

                        <alert *ngIf="isShowAlert" class="alert-with-icon" [type]="'danger alert-with-icon'" >
              <span class=" tim-icons icon-alert-circle-exc" data-notify="icon">
              </span>
                            {{errorMessage}}
                        </alert>
                    </div>
                    <div class="card card-coin card-plain" style="margin-top: 20px; font-weight: 400">

                        <div class="card-body" >
                            <tabset
                                    class="nav-tabs-danger justify-content-center tab-subcategories"
                            >
                                <div class="table-responsive">
                                    <table class="table tablesorter" id="plain-table">
                                        <thead class="text-danger">
                                        <tr>
                                            <th class="header" style="text-align: right" >RUNE Share</th>
                                            <th class="header" style="text-align: center">POOL</th>
                                            <th class="header">ASSET Share </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <ng-container *ngFor="let staker of displayData let i=index">
                                            <tr>
                                                <td style="width: 40%; text-align: right">
                                                    <small style="color: grey">Pool Share: ᚱ </small>
                                                    <p>{{isRedacted ? '⚡⚡⚡ '  + ' ᚱ' :  toString(staker.shareTarget) + ' ᚱ'}}</p>
                                                    <!--                        <p>{{isRedacted ? '⚡⚡⚡ '  + ' ᚱ' :  getPrice(staker.priceInRune ,staker.shareTarget, false ) + ' $'}}</p>-->
                                                    <small style="color: grey">Staked</small>
                                                    <p>{{isRedacted ? '⚡⚡⚡ '  + ' ᚱ' : toString(staker.totalTarget) + ' ᚱ'  }}</p>
                                                    <!--                        <p>{{isRedacted ? '⚡⚡⚡ '  + ' ᚱ' : getPrice(staker.priceInRune, staker.totalTarget, false) + ' $'  }}</p>-->
                                                    <!--                                                    <p style="color: grey">Total Loss/Gain (ᚱ)</p>-->
                                                    <small style="color: grey">Gain/Loss: ᚱ</small>
                                                    <p class="{{getClassProfit(toString(staker.profitTarget))}}">{{isRedacted ? '⚡⚡⚡ '  + ' ᚱ' : toString(staker.profitTarget) + ' ᚱ' }}</p>
                                                    <p style="color: grey">Total Pool:</p>
                                                    <p style="color: grey">Total Stake:</p>
                                                    <p style="color: grey">Gain/Loss:</p>
                                                </td>

                                                <td style="text-align: center">
                                                    <br><br><br>
                                                    <img
                                                            alt="Card image"
                                                            class="coin-img"
                                                            style="width: 1.5rem; border-radius: 12px; margin-right: 0px;"
                                                            src="{{getImage('RUNE')}}"

                                                    />
                                                    <img style="margin-left: -5px; width: 1.5rem; border-radius: 12px"
                                                         alt="Card image"
                                                         class="coin-img"
                                                         src="{{getImage(staker.asset)}}"

                                                    />
                                                    <p style="margin-top: 10px;" class="{{getClassProfit(staker.percent)}}">
                                                        {{staker.percent + '%'}}
                                                    </p>
                                                    <br>
                                                    <p style="color: grey">{{staker.baseTicket}}</p>
                                                    <p style="color: grey">{{staker.baseTicket}}</p>
                                                    <p style="color: grey">{{staker.baseTicket}}</p>
                                                </td>

                                                <td style="width: 40%; text-align: left">
                                                    <small style="color: grey">{{staker.asset}}</small>
                                                    <p>{{isRedacted ? '⚡⚡⚡ ' + staker.asset :  toString(staker.shareAsset) }}</p>
                                                    <!--                        <p>{{isRedacted ? '⚡⚡⚡ '  + ' ᚱ' :  getPrice(staker.priceInRune ,staker.shareAsset, true ) + ' $'}}</p>-->
                                                    <small style="color: grey">Staked</small>
                                                    <p>{{isRedacted ? '⚡⚡⚡ '  + staker.asset : toString(staker.totalAsset)  }}</p>
                                                    <!--                        <p>{{isRedacted ? '⚡⚡⚡ '  + staker.asset : getPrice(staker.priceInRune, staker.totalAsset, true) + ' $'  }}</p>-->
                                                    <small style="color: grey"> {{staker.asset}}</small>
                                                    <p class="{{getClassProfit(toString(staker.profitAsset))}}">{{isRedacted ? '⚡⚡⚡ '  + staker.asset : toString(staker.profitAsset) }}</p>
                                                    <p>{{isRedacted ? '⚡⚡⚡ '  : toString(staker.totalPricePool )}}</p>
                                                    <p>{{isRedacted ? '⚡⚡⚡ '   :  toString(staker.totalPriceStake)}}</p>
                                                    <p class="{{getClassProfit(toString(staker.totalPriceProfit))}}">{{isRedacted ? '⚡⚡⚡ '  :  toString(staker.totalPriceProfit)}}</p>
                                                </td>
                                            </tr>
                                        </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </tabset>
                        </div>
                        <span style="margin-left: 20px; margin-right: 20px; margin-bottom: 10px; padding-top: 7px; padding-bottom: 7px;" class="badge badge-dark" (cbOnSuccess)="onCopiedSuccess($event)" ngxClipboard [cbContent]="getDemoAddressURL()">{{copyButtonTest}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">

            <p class="text-center">Made with ⚡ @2020</p>

            <div class="align-items-center" style="text-align: center; padding-bottom: 10px; margin-top: 20px" >

                <span style="padding: 10px 20px 10px 20px;" class="badge {{!isRedacted ? 'badge-default' : 'badge-darker'}}" (click)="redactToggle(!isRedacted)">{{isRedacted ? 'View Amount' : 'Hide Amount'}}</span>
                <div style="margin-top: 10px">
                    <a target="_blank" style="color: black;" class=" badge badge-warning" href="https://forms.gle/vfu9A6BKCYWPLgFP9">
                        Report Bugs/Feedbacks
                    </a></div>
            </div>
        </div>
    </footer>
</div>
<!--<ngx-spinner></ngx-spinner>-->
<ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#64d6e2"
        type="square-jelly-box"
>
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>


<!--deploy-->
