.summaryrow {
  content: "";
  display: table;
  clear: both;
}

.summarycolumn {
  float: left;
  width: 50%;
}

.summarydot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
//
@import "sections/_headers";
// @import 'sections/_features';
// @import 'sections/_blogs';
// @import 'sections/_team';
// @import 'sections/_projects';
// @import 'sections/_pricing';
// @import 'sections/_testimonials';
// @import 'sections/_contactus';
//
// @import 'sections/_social-subscribe-lines';
